body {  background-color: #17cdda; }
h1{color:rgb(11, 52, 67);}
/* .container {
    background: #ffa;
} */
.btn {
    color:rgb(161, 26, 26);
    background: #ffa;
    height: 50px;
    width: 70px;
}